.home1
  display flex
  width 100%
  flex-direction column

.home1-logout1
  flex-direction row-reverse
  right 5.4545rem
  top  1.0455rem
  width 3.6364rem
  height 3.6364rem
  background-image url('../../../images/logout.png')
  background-size 3.6364rem  3.6364rem

.home1-logout1:hover
  display block
  background-image url('../../../images/logout-hover.png')

.home-time1
  text-align center
  font-size 1.5455rem
  color rgba(0, 0, 0, 0.87)
  margin-top  6.8182rem

.home-week1
  text-align center
  font-size 1.0909rem
  color rgba(0, 0, 0, 0.87)

.home-user1
  text-align center
  font-size 1.0909rem
  color rgba(0, 0, 0, 0.38)
  margin-top 3.5909rem

.change23
  font-size 0.7273rem
  color #27b24a
  position relative
  bottom 0.9091rem

.home-line1
  width 40%
  height 0.0455rem
  color rgba(0, 0, 0, 0.12)
  margin-top 0.4545rem

.company1
  flex-basis
  // left 419px
  left 26%
  top 18.9091rem
  background-image linear-gradient(135deg, #002092, #1ab9c8)
  align-items center
  width 5.9091rem
  height 5.9091rem
  border-radius 2.9545rem
  color #ffffff

.company-11
  margin auto
  text-align center
  // left 50px

.change11
  color #27b24a
  font-size 1.5455rem
  position absolute
  bottom 4.5455rem
  left 5.4545rem

.change21
  color #27b24a
  font-size 1.5455rem
  position absolute
  bottom 4.5455rem
  left 5.4545rem

.change31
  color #d0021b
  font-size 1.5455rem
  position absolute
  bottom 4.5455rem
  left 5.4545rem

.change41
  color #27b24a
  font-size 1.5455rem
  position absolute
  bottom 4.5455rem
  left 5.4545rem

.change51
  color #27b24a
  font-size 1.5455rem
  position absolute
  bottom 4.5455rem
  left 5.4545rem

.company-num1
  font-size 1.5455rem

.company-text1
  font-size 0.7273rem

.staff1
  position absolute
  // left 419+296px
  left 46%
  top 18.9091rem
  background-image linear-gradient(135deg, #ffd529, #fd8440)
  display flex
  align-items center
  width 5.9091rem
  height 5.9091rem
  border-radius 2.9545rem
  color #ffffff

.staff-11
  margin auto
  text-align center

.tourist1
  position absolute
  // left 419+296+296px
  left 66%
  top 18.9091rem
  background-image linear-gradient(135deg, #5a63d8, #cd90e1)
  display flex
  align-items center
  width 5.9091rem
  height 5.9091rem
  border-radius 2.9545rem
  color #ffffff

.tourist-11
  margin auto
  text-align center

.staff-num1
  font-size 1.5455rem

.staff-text1
  font-size 0.7273rem

.tourist-num1
  font-size 1.5455rem

.tourist-text1
  font-size 0.7273rem

.tourist21
  position absolute
  // left 419px
  left 26%
  top 28.9091rem
  background-image linear-gradient(135deg, #002092, #1ab9c8)
  display flex
  align-items center
  width 5.9091rem
  height 5.9091rem
  border-radius 2.9545rem
  color #ffffff

.tourist21-num1
  font-size 1.5455rem

.tourist21-text1
  font-size 0.7273rem

.tourist31
  position absolute
  // left 419+296px
  left 46%
  top 28.9091rem
  background-image linear-gradient(135deg, #ffd529, #fd8440)
  display flex
  align-items center
  width 5.9091rem
  height 5.9091rem
  border-radius 2.9545rem
  color #ffffff

.tourist31-num1
  font-size 1.5455rem

.tourist31-text1
  font-size 0.7273rem
