.home
  position absolute
  width 100%
  display block

.home-logout
  position absolute
  right 5.4545rem
  top  1.0455rem
  display block
  width 3.6364rem
  height 3.6364rem
  background-image url('../../../images/logout.png')
  background-size 3.6364rem  3.6364rem

.home-logout:hover
  background-image url('../../../images/logout-hover.png')

.home-time
  text-align center
  font-size 1.5455rem
  color rgba(0, 0, 0, 0.87)
  margin-top  6.8182rem

.home-week
  text-align center
  font-size 1.0909rem
  color rgba(0, 0, 0, 0.87)

.home-user
  text-align center
  font-size 1.0909rem
  color rgba(0, 0, 0, 0.38)
  margin-top 3.5909rem

.change
  font-size 0.7273rem
  color #27b24a
  position relative
  bottom 0.9091rem

.home-line
  width 40%
  height 0.0455rem
  color rgba(0, 0, 0, 0.12)
  margin-top 0.4545rem

.company
  position absolute
  // left 419px
  left 26%
  top 18.9091rem
  background-image linear-gradient(135deg, #002092, #1ab9c8)
  display flex
  align-items center
  width 5.9091rem
  height 5.9091rem
  border-radius 2.9545rem
  color #ffffff



.company-1
  margin auto
  text-align center
  // left 50px

.change1
  color #27b24a
  font-size 1.5455rem
  position absolute
  bottom 4.5455rem
  left 5.4545rem

.change2
  color #27b24a
  font-size 1.5455rem
  position absolute
  bottom 4.5455rem
  left 5.4545rem

.change3
  color #d0021b
  font-size 1.5455rem
  position absolute
  bottom 4.5455rem
  left 5.4545rem

.change4
  color #27b24a
  font-size 1.5455rem
  position absolute
  bottom 4.5455rem
  left 5.4545rem

.change5
  color #27b24a
  font-size 1.5455rem
  position absolute
  bottom 4.5455rem
  left 5.4545rem

.company-num
  font-size 1.5455rem

.company-text
  font-size 0.7273rem

.staff
  position absolute
  // left 419+296px
  left 46%
  top 18.9091rem
  background-image linear-gradient(135deg, #ffd529, #fd8440)
  display flex
  align-items center
  width 5.9091rem
  height 5.9091rem
  border-radius 2.9545rem
  color #ffffff

.staff-1
  margin auto
  text-align center

.tourist
  position absolute
  // left 419+296+296px
  left 66%
  top 18.9091rem
  background-image linear-gradient(135deg, #5a63d8, #cd90e1)
  display flex
  align-items center
  width 5.9091rem
  height 5.9091rem
  border-radius 2.9545rem
  color #ffffff

.tourist-1
  margin auto
  text-align center

.staff-num
  font-size 1.5455rem

.staff-text
  font-size 0.7273rem

.tourist-num
  font-size 1.5455rem

.tourist-text
  font-size 0.7273rem

.tourist2
  position absolute
  // left 419px
  left 26%
  top 28.9091rem
  background-image linear-gradient(135deg, #002092, #1ab9c8)
  display flex
  align-items center
  width 5.9091rem
  height 5.9091rem
  border-radius 2.9545rem
  color #ffffff

.tourist2-num
  font-size 1.5455rem

.tourist2-text
  font-size 0.7273rem

.tourist3
  position absolute
  // left 419+296px
  left 46%
  top 28.9091rem
  background-image linear-gradient(135deg, #ffd529, #fd8440)
  display flex
  align-items center
  width 5.9091rem
  height 5.9091rem
  border-radius 2.9545rem
  color #ffffff

.tourist3-num
  font-size 1.5455rem

.tourist3-text
  font-size 0.7273rem


