.login
  text-align center

.login-title
  font-size 2.0455rem
  color rgba(34, 161, 224, 0.87)
  margin-top 7.7727rem

.login-tip
  font-size 1.4545rem
  color rgba(0, 0, 0, 0.87)
  margin-top 3.6364rem

.login-img
  margin-top 0.9545rem
  margin-left auto
  margin-right auto
  width 11.8182rem
  height 11.8182rem
  background-color #345662
